%div{:class => 'span2'}
  .well
    %ul{:class => 'nav nav-list'}
      %li{:class => 'nav-header'}
        Odds Types
        %li
          =link_to 'Double Chance', '#'
        %li
          =link_to 'Under/Over', '#'
        %li
          =link_to 'Half Time', '#'
        %li
          =link_to 'Half time/ Full time', '#'
        %li
          =link_to 'Odd/Even', '#'
        %li
          =link_to 'Half with most goals', '#'
        %li
          =link_to 'Handicap', '#'

  %div{ :class => 'well' }
    %ul{ :class => 'nav nav-list' }
      %li{ :class => 'nav-header' }
        By Tournament
        %li
          =link_to 'English Premiership', '#'
        %li
          =link_to 'Spanish La Liga', '#'
        %li
          =link_to 'Italian Serie A', '#'
        %li
          =link_to 'FA Cup', '#'
        %li
          =link_to 'Copa del Rey', '#'
        %li
          =link_to 'French League 1', '#'

%div{:class => 'span7'}
  %p 
    %h5 Soccer
    %table{:class => 'table-dbates'}
      %thead
        %tr
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'}10122
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd pull-right'} 2.3
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp&nbsp 3.09
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'}10123
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 2.42
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'}10124
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.35
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'}10125
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'}10126
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp&nbsp 3.09
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'}10127
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 2.42
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'}10128
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.35
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'}10129
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'}10130
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp&nbsp 3.09
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'}10131
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 2.42
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'}10132
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.35
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'}10133
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
