All Sports
%li
  =link_to sports_soccer_path do 
    =image_tag 'ball.ico', :size => '21x21'
    %span Soccer
%li
  =link_to '#' do
    =image_tag 'cricket.ico', :size => '21x21'
    %span Cricket
%li
  =link_to '#' do
    =image_tag 'rugby.ico', :size => '21x21'
    %span Rugby Union'
%li
  =link_to '#' do
    =image_tag 'kolf.ico', :size => '21x21'
    %span Golf
/%li= link_to 'Snooker', '#'
%li
  =link_to '#' do
    =image_tag 'basketball.ico', :size => '21x21'
    %span Basketball
%li
  =link_to('#') do
    =image_tag 'boxing_gloves.ico', :size => '21x21'
    %span Boxing
%li
  =link_to '#' do
    =image_tag 'rugby.ico', :size => '21x21'
    %span Rugby League
%li
  =link_to '#' do
    =image_tag 'volleyball_ball.ico', :size => '21x21'
    %span Volleyball
%li
  =link_to '#' do
    =image_tag 'horse_rider.ico', :size => '21x21'
    %span Horse Racing
%li
  =link_to '#' do
    =image_tag 'icehockey.png', :size => '21x21'
    %span Ice Hockey
%li
  =link_to '#' do
    =image_tag 'toyotagt_one.ico', :size => '21x21'
    %span Formula 1
%li
  = link_to('#') do
    =image_tag 'tennis.ico', :size => '21x21'
    %span Tennis
%li
  =link_to '#' do
    =image_tag 'skiing.png', :size => '21x21'
    %span Alpine Skiing
%li
  =link_to '#' do
    =image_tag 'baseball_ball.ico', :size => '21x21'
    %span Baseball
%li
  =link_to '#' do
    =image_tag 'american_football.ico', :size => '21x21'
    %span American Football
%li
  =link_to '#' do
    =image_tag 'clicknrun.ico', :size => '21x21'
    %span Athletics
%li
  =link_to '#' do
    =image_tag 'table_tennis.ico', :size => '21x21'
    %span Table Tennis
/%li= link_to 'Skii Jumping', '#'
/%li= link_to 'Rally', '#'
%li
  =link_to '#' do
    =image_tag 'shuttlecock.ico', :size => '21x21'
    %span Badminton
%li
  =link_to '#' do
    =image_tag 'bowling.ico', :size => '21x21'
    %span Bowling
%li
  =link_to '#' do
    =image_tag 'motorcycle.ico', :size => '21x21'
    %span Motorbikes
/%li= link_to 'Hockey' , '#'
/%li= link_to 'Handball', '#'
/%li= link_to 'Futsal', '#'
/%li= link_to 'Cycling', '#'
%li
  =link_to '#' do
    =image_tag 'dart.ico', :size => '21x21'
    %span Darts
/%li= link_to 'Combat Sports' ,'#'
/%li= link_to 'Aussie Rules Football', '#'
/%li= link_to 'Cross country Skiing', '#'
