All Sports
%li
  =link_to soccer_sports_path do 
    =image_tag 'sport_icons/ball.ico', :size => '21x21'
    %span Soccer
%li
  =link_to '#' do
    =image_tag 'sport_icons/cricket.ico', :size => '21x21'
    %span Cricket
%li
  =link_to '#' do
    =image_tag 'sport_icons/rugby.ico', :size => '21x21'
    %span Rugby Union'
%li
  =link_to '#' do
    =image_tag 'sport_icons/kolf.ico', :size => '21x21'
    %span Golf
/%li= link_to 'Snooker', '#'
%li
  =link_to '#' do
    =image_tag 'sport_icons/basketball.ico', :size => '21x21'
    %span Basketball
%li
  =link_to('#') do
    =image_tag 'sport_icons/boxing_gloves.ico', :size => '21x21'
    %span Boxing
%li
  =link_to '#' do
    =image_tag 'sport_icons/rugby.ico', :size => '21x21'
    %span Rugby League
%li
  =link_to '#' do
    =image_tag 'sport_icons/volleyball_ball.ico', :size => '21x21'
    %span Volleyball
%li
  =link_to '#' do
    =image_tag 'sport_icons/horse_rider.ico', :size => '21x21'
    %span Horse Racing
%li
  =link_to '#' do
    =image_tag 'sport_icons/icehockey.png', :size => '21x21'
    %span Ice Hockey
%li
  =link_to '#' do
    =image_tag 'sport_icons/toyotagt_one.ico', :size => '21x21'
    %span Formula 1
%li
  = link_to(tennis_sports_path, :title => 'tennis odds') do
    =image_tag 'sport_icons/tennis.ico', :size => '21x21'
    %span Tennis
%li
  =link_to '#' do
    =image_tag 'sport_icons/skiing.png', :size => '21x21'
    %span Alpine Skiing
%li
  =link_to '#' do
    =image_tag 'sport_icons/baseball_ball.ico', :size => '21x21'
    %span Baseball
%li
  =link_to '#' do
    =image_tag 'sport_icons/american_football.ico', :size => '21x21'
    %span American Football
%li
  =link_to '#' do
    =image_tag 'sport_icons/clicknrun.ico', :size => '21x21'
    %span Athletics
%li
  =link_to '#' do
    =image_tag 'sport_icons/table_tennis.ico', :size => '21x21'
    %span Table Tennis
%li
  =link_to '#' do
    =image_tag 'sport_icons/shuttlecock.ico', :size => '21x21'
    %span Badminton
%li
  =link_to '#' do
    =image_tag 'sport_icons/bowling.ico', :size => '21x21'
    %span Bowling
%li
  =link_to '#' do
    =image_tag 'sport_icons/motorcycle.ico', :size => '21x21'
    %span Motorbikes
%li
  =link_to '#' do
    =image_tag 'sport_icons/dart.ico', :size => '21x21'
    %span Darts
