%table{ :class => 'table-dbates' }
  %caption Hot Bets
  %thead 
    -#%tr 
      %td Time:Date
      %td First Team Wins
      %td Draw
      %td Second Team Wins
  %tbody
    -#-match.each do |match|
      %tr
        %td{:class => 'match-date'} 
          =match.match_date.hour.to_s + ":" + match.match_date.min.to_s
          =match.match_date.month.to_s + "/" + match.match_date.day.to_s
        %td{:class => 'teams'}=match.player_one + "\s"+ match.player_one_wins.to_s
        %td{:class => 'teams'}=match.players_draw
        %td{:class => 'teams'}=match.player_two + "\s" + match.player_two_wins.to_s 
    %tr
      %td{:class => 'match-date'} 6:00 PM 1/30
      %td{:class => 'teams'}12319
      %td{:class => 'teams'} Tromso 2.70 v Widzow Lodz
      %td{:class => 'teams'} 3.20
      %td{:class => 'teams'} Widzow Lodz 2.35
      -#%tr
        %td{:class => 'match-date'} 9:00 PM 1/30 
        %td{:class => 'teams'} Vaslui 2.75
        %td{:class => 'teams'} 2.30
        %td{:class => 'teams'} FC Capenhagen 3.20
      -#%tr
        %td{:class => 'match-date'} 2:00 PM 2/7
        %td{:class => 'teams'} Aarhus 2.00
        %td{:class => 'teams'} 3.25
        %td{:class => 'teams'} Silkeborg 3.30
      -#%tr
        %td{:class => 'match-date'} 3.30 PM 2/7
        %td{:class => 'teams'} FC Vestsjaelland 2.75 v Randers FC
        %td{:class => 'teams'} 3.20
        %td{:class => 'teams'} Randers FC 2.30
      -#%tr
        %td{:class => 'match-date'} 3:30 PM 2/7
        %td{:class => 'teams'} FC Otelul Galati 2.20 v PFC Ludogorets
        %td{:class => 'teams'} 3.30
        %td{:class => 'teams'} PFC Ludogorets 2.30
      -#%tr
        %td{:class => 'match-date'} 6:00 PM 2/7
        %td{:class => 'teams'} Torpedo Kutaisi 3.25
        %td{:class => 'teams'} 3.30
        %td{:class => 'teams'} Dinamo Bucharest 2.00
      -#%tr
        %td{:class => 'match-date'} 10:30 PM 2/8
        %td{:class => 'teams'} Paris Saint-Germain 1.15 v SC Bastia
        %td{:class => 'teams'} 7.00
        %td{:class => 'teams'} SC Bastia 17.50
      -#-match.each do |match|
        =match.match_date
      -#%tr
        %td 11:00 PM 2/8
        %td UD Almeria v Sabadell
        %td 1.70
        %td 3.40
        %td 4.60
      -#%tr
        %td 2:00 PM 2/7
        %td Victor Troicki(SRB) v Jan Hajek(CZE)
        %td 1.22
        %td 3.80
      -#%tr
        %td 9:00 PM 2/7
        %td Rhyne Williams(USA) v Alex Kuznetsov(USA)
        %td 1.62
        %td 2.10
      -#%tr
        %td 9:00 PM 2/7
        %td Richard Gasquet(FRA) v Gael Monfils(FRA)
        %td 1.75
        %td 2.25
      -#%tr
        %td 10:30 PM 2/7
        %td Denys Molchanov(UKR) v Robby Ginepri(USA)
        %td 2.80
        %td 1.36
      -#%tr
        %td 10:30 PM 2/7
        %td Victor Hanescu(ROU) v Julien Benneteau(FRA)
        %td 4.40
        %td 1.17
      -#%tr
        %td 1:30 AM 2/8
        %td James Blake(USA) v Michael Russel(USA)
        %td 1.50
        %td 2.35
