%table{ :class => 'table-dbates' }
  %caption Hot Bets
  %thead 
    %tr 
      %th Time:Date
      %th Match code
      %th First Team Wins
      %th Draw
      %th Second Team Wins
  %tbody
    -#-match.each do |match|
      %tr
        %td{:class => 'match-date'} 
          =match.match_date.hour.to_s + ":" + match.match_date.min.to_s
          =match.match_date.month.to_s + "/" + match.match_date.day.to_s
        %td{:class => 'teams'}=match.player_one + "\s"+ match.player_one_wins.to_s
        %td{:class => 'teams'}=match.players_draw
        %td{:class => 'teams'}=match.player_two + "\s" + match.player_two_wins.to_s 
    %tr
      %td{:class => 'match-date'} 6:00 PM 1/30
      %td{:class => 'teams'}12319
      %td{:class => 'teams'} Tromso 2.70
      %td{:class => 'teams'} 3.20
      %td{:class => 'teams'} Widzow Lodz 2.35
    %tr
      %td{:class => 'match-date'} 3:30 PM 9/1
      %td{:class => 'teams'}12320
      %td{:class => 'teams'} Liverpool FC 2.45
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Manchester United 2.70
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12321
      %td{:class => 'teams'} Arsenal FC 2.10
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Tottenham Hotspur 3.30
    %tr
      %td{:class => 'match-date'} 1:00 PM 9/1
      %td{:class => 'teams'}12322
      %td{:class => 'teams'} Real Madrid 1.15
      %td{:class => 'teams'} 7.75
      %td{:class => 'teams'} Athletico Bilbao 13.50
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    %tr
      %td{:class => 'match-date'} 6:00 PM 9/1
      %td{:class => 'teams'}12323
      %td{:class => 'teams'} Espanyol 2.00
      %td{:class => 'teams'} 3.40
      %td{:class => 'teams'} Real Betis 3.60
    -#
      %tr
        %td{:class => 'match-date'} 6:00 PM 9/1
        %td{:class => 'teams'}12323
        %td{:class => 'teams'} Espanyol 2.00
        %td{:class => 'teams'} 3.40
        %td{:class => 'teams'} Real Betis 3.60
      %tr
        %td{:class => 'match-date'} 6:00 PM 9/1
        %td{:class => 'teams'}12323
        %td{:class => 'teams'} Espanyol 2.00
        %td{:class => 'teams'} 3.40
        %td{:class => 'teams'} Real Betis 3.60
      %tr
        %td{:class => 'match-date'} 6:00 PM 9/1
        %td{:class => 'teams'}12323
        %td{:class => 'teams'} Espanyol 2.00
        %td{:class => 'teams'} 3.40
        %td{:class => 'teams'} Real Betis 3.60
      %tr
        %td{:class => 'match-date'} 6:00 PM 9/1
        %td{:class => 'teams'}12323
        %td{:class => 'teams'} Espanyol 2.00
        %td{:class => 'teams'} 3.40
        %td{:class => 'teams'} Real Betis 3.60
      %tr
        %td{:class => 'match-date'} 6:00 PM 9/1
        %td{:class => 'teams'}12323
        %td{:class => 'teams'} Espanyol 2.00
        %td{:class => 'teams'} 3.40
        %td{:class => 'teams'} Real Betis 3.60
