%p{:class => 's-taber'} Selected Bets
%div{:class => 'tabber'}
  %div{:class => 'tabbertab', :title => 'Soccer'}
    %table{:class => 'table-dbates'}
      %thead
        %tr
          %th Time:Date
          %th First Team Wins
          %th Teams Draw
          %th Second Team Wins
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp&nbsp 3.09
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 2.42
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.35
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} x&nbsp&nbsp&nbsp 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15

  %div{:class => 'tabbertab', :title => 'Tennis'}
    %table{:class => 'table-dbates'}
      %thead
        %tr
          %th Time:Date
          %th Player One Wins
          %th Player Two Wins
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'} Roger Federer
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} Stanslas Wawrinka 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Maria Sharapova 1.21
            %td{:class => 'teams'} Serena Williams 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'}  Maria Kirilenko 2.90
            %td{:class => 'teams'} Sloan Stevens 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} James Blake 3.30
            %td{:class => 'teams'} Donald Young 2.15

  %div{:class => 'tabbertab', :title => 'Cricket'}
    %h3 This is tab three
    %p Tab three here
  %div{:class => 'tabbertab', :title => 'Rugby'}
    %h3 This is tab four
    %p tab four her
  %div{:class => 'tabbertab'}
    %h3 Basketball
    %p Tab five here
