.container
  .row
    .span9
      %h4 Mission
      %p
        We are dedicated to achieving operational brilliance and providing significant returns for our partners and shareholders.
      %p
        We are dedicated to achieving a well established market position based on longstanding proffesional expertise. Our key possesions being highly specialized and talented staff, excellent management methodologies and a comprehensive approach to business developed on the foundation of knowledge and skills.

      %h4 Values
      %p
        Beginning with our management team, every employee at Grand Victoria limited, our parent company??, operates respecting the dignity of each individual, whether another employee, customer, shareholder, or member of the society. Our values reflect a commitment to our customers through our emphasis on excellence, integrity and the highest degree of ethical behaviour.
