%div{:class => 'span3'}
  %p
    %h4 Tab 1
%div{:class => 'span5'}
  %p
    %h6 Today's Odds
    %table{ :class => 'table table-striped' }
      %thead
        %tr
          %th Table heading
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td Date
          %td Player1 v Player2
          %td 1
          %td X
          %td 2
        %tr
          %td 29 Jan 22:45
          %td Man Utd v Arsenal fc
          %td 1.20
          %td 6.30
          %td 9.40
    %table{ :class => 'table table-stripped' }
      %thead
        %tr
          %th Tennis
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td 26 Jan 10:00
          %td R.Federer v A.Murray
          %td 2.85
          %td 3.25
          %td 2.25
        %tr
          %td 24 Jan 09:00
          %td N.Djokovic v D.Ferrer
          %td 1.20
          %td 6.30
          %td 9.40
    %table{ :class => 'table table-striped' }
      %thead
        %tr
          %th Basket Ball
          %th &nbsp;
          %th 1
          %th X
          %th 2
      %tbody
        %tr
          %td 1 Jan 03:00
          %td NY Knicks v M.Heat
          %td 7.50
          %td 3.67
          %td 2.50
%div{:class => 'span3'}
  %p
    %h6 Hot Bets
