%div{:class => 'span2'}
  %div{ :class => 'well' }
    %ul{ :class => 'nav nav-list' }
      %li{ :class => 'nav-header' }
        HELP
        %li
          =link_to 'Legal', '#'
        %li
          =link_to 'Fortune Bet', '#'
        %li
          =link_to 'Social', '#'

%div{:class => 'span7'}
  %p 
    %h5 Rules & Regulations
    %ol
      %li All rules, regulations, and payoffs hitherto for are prone to revision, by Fortune Bet without prior written notice to Fortune Bet Customers.
      %li Fortune Bet reserves the right to refuse or limit any bet and to restrict betting on any event at any time without any advance notice (Includes any prop, future or any other exotic Bets with no exceptions).
      %li You must acknowledge that the Internet is not a 100% reliable medium and that Internet Bets are not guaranteed. You will not be offered compensation of any nature for any bets that are not accepted by Fortune Bet transaction server, no matter the cause. Bets are valid when the Fortune Bet transaction server accepts them, even if you aren't issued a ticket number. If you are unsure about the validity of your Bets, please review your open Bets or contact our customer service immediately. It is important to check your open Bets immediately after placing your Bets.
      %li It is the responsibility of the customer to ensure details of their Bets are correct. Once Bets have been placed and their acceptance confirmed they might not be cancelled or changed by the customer.
      %li Claims on Bets must be submitted at no later than ONE MONTH after acceptance of the Bet To expedite the claim process, Fortune BET recommends that customers keep a printed copy of all Bets.
      %li All Bets must be backed by payments on the sales agents counter or by other forms of payment that are regulated by Fortune Bet. Fortune Bet does not offer credit Betting at anytime under any circumstance. Any Bet made without out proof of payment will not be accepted nor will Bets will be accepted when a Customer does not have enough money.
      %li Each Betting slip is accepted on the basis that it is the investment of one customer only.
      %li Any and all Bets placed in an attempt in any way to defraud Fortune Bet will be voided upon discovery.
      %li Any and all Bets placed by, contracted by any Bookmaker, gambling syndicate and/or any person, or involved in similar business kinds of business as Fortune Bet shall be voided and the money related to these bets that were paid by Fortune Bet will be refunded to Fortune Bet.
      %li Customer must be 18 years of age or older in order to place Bets and/or collect winnings.
      %li All Fortune Bet transactions are accepted and legally processed under the approval of the Government of Uganda. All transactions are considered to originate and be governed by the laws of Uganda.
      %li Once a Bet is placed and accepted by Fortune Bet, the Bet cannot be changed, cancelled or modified in any way by the member.
      %li Bets will be accepted until the start of an event, unless the event has Live betting being offered on it. Events that offer Live Betting will be clearly marked as such on Fortunebet.ug and our live in-play display screens.
      %li Dates, kick-off times, and comments of all events of shown on our site are for guidance purposes only.
      %li 
        A Bet will be considered invalid by Fortune Bet if:
        %ol
          %li The Bet is submitted after the start of an event, or the event’s outcome has become public knowledge, and our Live Betting Service does not cover that. If the error is noticed in time, Fortune Bet will make reasonable efforts to contact the customer to allow the choice of placing another Bet at the correct odds/line/handicap.
          %li 
            The Bet is placed on an obvious pricing error or incorrect maximum limit according to sports book limits (notes). All odds, lines and handicaps are subject to fluctuation, and become fixed only at the time of bet acceptance. Where a palpable error or system failure results in an incorrect price, line, maximum limit or handicap taken in a Bet, the Bet, or that part of the Bet if it is a multiple wager/parlay will be void and not replaced (Fortune Bet reserves the right to delete or cancel the straight Bet, parlay/multiple Bet at anytime without notifying the customer, also reserves the right to offer the correct line after making the changes). If the error is noticed in time, Fortune Bet will make reasonable efforts to contact the customer to allow the choice of placing another Bet at the correct odds/line/handicap. If customer Bets on both side of the line (moneyline) only Bet with error will be deleted and the rest will have action.
            Correlation Rule: Multiple Bets/parlays/if bets are not accepted where the outcome of one part of the Bet contributes to the outcome of another. If such a Bet is taken in error it will be cancelled. If the error is noticed in time, Fortune Bet will make reasonable efforts to contact the customer to allow the choice of placing another Bet at the correct odds/line/handicap. 
      %li If a parlay/teaser/if bet contains a selection, which is cancelled for any reason, the wager will revert downwards. For example, a three-team parlay will become a two-team parlay.
      %li Before accepting any Bet, Fortune Bet reserves the right to limit the maximum amount staked.
      %li The Fortune Bet monitors all bets to aid in properly settling disputes. Records of all transactions are recorded via a Server. If a dispute between a Customer and Fortune Bet should arise, both the Customer and Fortune Bet, agree that the Transaction records will act as the final authority in determining the outcome of any claim. All claims must be submitted within 14 days of the finish of the event.
      %li No Customer shall be offered compensation of any kind, for any Bet that are not accepted by Fortune Bet.
      %li Start times/dates, lines and odds are displayed on Fortunebet.ug and display screens are for informational purposes only and are subject to change, however the odds quoted and accepted at the time of placement will be used to determine winning, losing and push Bets.
      %li All games must start on the schedule date (local time) for bets to have action. Unless otherwise specified in the sports specific rules If a game has been postponed or cancelled.
      %li Unless otherwise stated the winner of the game or event will be determined by the official results at the end of the game or event. Fortune Bet does not recognize post game disputes, protests or overturns for Betting purposes.
      %li In the event Fortune Bet accepts a Bet with an obvious line error, all single Bets will be void and multi-selection Bets will be reduced accordingly.
      %li For any event where draw odds are being offered: in case of a draw outcome, all other Bets will be graded as a loss.
      %li 
      25. Play with Fortune Bet carries its own terms and conditions.
      Unless otherwise stated, the max payout for any game at Fortune Bet, regardless of what it states otherwise is 20,000,000 (Twenty Million Shillings Only). No winnings over this amount will be paid and for all intents and purposes.

