.container
  .row
    .span9
      %h1 Privacy policy
      %h5 PRIVACY
      %p
        We believe its an honor for a person to entrust you with their personal information. To that end we take all the measures we can to make sure that your data is safe and secure. 

      %h5 COOKIES
      %p
        This website implements cookies. We may store some information on your computer, laptop, tablet or mobile device when you look at our sites, mobile sites or mobile apps. Cookies allow us to remember things about your visits across our sites so we can improve your user experience. We use them solely for this purpose and we do not collect any other information from your device. We also may use cookies and third party cookies to monitor traffic to the site. We may use flash cookies and third party cookies to help us to show you advertisements which are relevant to your interests based on your use of Our sites.

