%div{:class => 'span2'}
  .well
    .filter-wrapper
      =render :partial => 'results_filter'
  %div{ :class => 'well' }
    %ul{ :class => 'nav nav-list' }
      %li{ :class => 'nav-header' }
        By Tournament
        %li
          =link_to 'English Premiership', '#'
        %li
          =link_to 'Spanish La Liga', '#'
        %li
          =link_to 'Italian Serie A', '#'
        %li
          =link_to 'FA Cup', '#'
        %li
          =link_to 'Copa del Rey', '#'
        %li
          =link_to 'French League 1', '#'

%div{:class => 'span7'}
  %p 
    %h5 Results
    %table{:class => 'table-dbates'}
      %thead
        %tr
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'pull-right'} 2
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Real Madrid 
              %span{:class => 'pull-left'}5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester City 
              %span{:class => 'pull-right'}1
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Chelsea FC 
              %span{:class => 'pull-left'}1
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Udinese 
              %span{:class => 'pull-right'}0
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}SSC Napoli 
              %span{:class => 'pull-left'}1
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}West Ham United 
              %span{:class => 'pull-right'}0
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Tottenham Hotspur 
              %span{:class => 'pull-left'}4
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'pull-right'}3
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Real Madrid 
              %span{:class => 'pull-left'}5
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'pull-right'} 2
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Real Madrid 
              %span{:class => 'pull-left'}5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester City 
              %span{:class => 'pull-right'}1
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Chelsea FC 
              %span{:class => 'pull-left'}1
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Udinese 
              %span{:class => 'pull-right'}0
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}SSC Napoli 
              %span{:class => 'pull-left'}1
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}West Ham United 
              %span{:class => 'pull-right'}0
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Tottenham Hotspur 
              %span{:class => 'pull-left'}4
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'pull-right'}3
            %td{:class => 'teams'} 
              %span{:class => 'team-name pull-right'}Real Madrid 
              %span{:class => 'pull-left'}5
