%h3 All Sports
%div{:class => 'span2'}
  %div{ :class => 'well' }
    %ul{ :class => 'nav nav-list' }
      %li{ :class => 'nav-header' }
        By Tournament
        %li
          =link_to 'English Premiership', '#'
        %li
          =link_to 'Spanish La Liga', '#'
        %li
          =link_to 'Italian Serie A', '#'
        %li
          =link_to 'FA Cup', '#'
        %li
          =link_to 'Copa del Rey', '#'
        %li
          =link_to 'French League 1', '#'

%div{:class => 'span7'}
  %p 
    %h5 Soccer
    %table{:class => 'table-dbates'}
      %thead
        %tr
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2
            %td{:class => 'teams'} Real Madrid 5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1
            %td{:class => 'teams'} Chelsea FC 1
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 0
            %td{:class => 'teams'} SSC Napoli 1
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 0
            %td{:class => 'teams'} Tottenham Hotspur 4
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15

  %p 
    %h5 Tennis
    %table{:class => 'table-dbates'}
      %thead
        %tr
        %tbody
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2
            %td{:class => 'teams'} Real Madrid 5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1
            %td{:class => 'teams'} Chelsea FC 1
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 0
            %td{:class => 'teams'} SSC Napoli 1
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 0
            %td{:class => 'teams'} Tottenham Hotspur 4
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
          %tr
            %td{:class => 'match-date'} 5:00 PM 2/14
            %td{:class => 'teams'} 
              %span{:class => 'team-name'}Manchester United 
              %span{:class => 'team-odd'} 2.3
            %td{:class => 'teams'} Real Madrid 1.5
          %tr
            %td{:class => 'match-date'} 5:25 PM 2/14
            %td{:class => 'teams'} Manchester City 1.21
            %td{:class => 'teams'} Chelsea FC 2.01
          %tr
            %td{:class => 'match-date'} 9:00 PM 2/25
            %td{:class => 'teams'} Udinese 2.90
            %td{:class => 'teams'} SSC Napoli 2.35
          %tr
            %td{:class => 'match-date'} 11:00 PM 2/25
            %td{:class => 'teams'} West Ham United 3.30
            %td{:class => 'teams'} Tottenham Hotspur 2.15
