%br
%div{:id => 'myCollapsibleExample'}
  %a{:href => '#demo', :data => {:toggle => 'collapse'}}Our Betting outlets
<div id="demo" class="collapse">  
%div{:class => 'row-fluid address-foot'}
  %div{:class => 'span3 foot'}
    %address Fort Portal
    %address Bundibugyo
    %address Kasana
    %address Grand Players Second Street(VIP)
    %address Arua
    %address Entebbe Kitoro
    %address Busia
  %div{:class => 'span3 foot'}
    %address Bwera Kasese
    %address Mityana
    %address Luwero
    %address Grand Players Lubowa(VIP)
    %address Gulu
    %address Stella
    %address Gaba
  %div{:class => 'span3 foot'}
    %address Mubende
    %address Natete
    %address Kireka
    %address Soroti
    %address Nansana
    %address Jinja
    %address Kalerwe
  %div{:class => 'span3 foot'}
    %address Rubaga
    %address Kawempe
    %address Kololo courts Hotel
    %address Lira
    %address Bayita
    %address Ben Kiwanuka, container village
    %address Kamwokya
</div>
